#header {
	background-color: grey;
	height: 200px;
}
#historical-comps {
	display: inline-block;
}
.row {
	display: table;
}
.col-md-4 {
	float: none;
	display: table-cell;
	vertical-align: top;
}
.info-panel {
	display: block;
	padding: 3%;
	background-color: LightGray;
}
.full-row-height {
	height: 100%;
	overflow: hide;
}
.info-panel img {
	margin: auto;
	width: 100%;
}
div.score {
	font-size: 72;
}
div.comp {
	display: block;
}