#header {
	background-color: grey;
	height: 200px;
}
#historical-comps {
	display: inline-block;
}
#property-image {
	float: right;
}
div.score {
	font-size: 72;
}
.info-panel {
	border-style: solid;
	border-width: 2px;
	display: inline-block;
	margin: 5px;
}
div.comp {
	display: inline-block;
}
div.comp img{
	width: 100%;
	display: inline-block;
}