<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<br />
		<form action="/property-details" id="searchform">
			<select id="search-input" name="address" form="searchform"/>
				<option value="123 Fake Street">123 Fake Street, Chicago, IL</option>
			</select>
			<input type="submit" value="Search">
		</form>
		<br>
		<br>
		<p>Tbh venmo kale chips, echo park forage pour-over distillery 90's sriracha. Twee tumblr woke, keytar messenger bag hexagon XOXO marfa try-hard la croix lyft street art. Yuccie church-key tacos, 
		kitsch unicorn cronut art party tofu vice pitchfork kale chips viral sriracha. Hot chicken small batch food truck 90's. Hella cardigan wayfarers 8-bit raw denim lomo blue bottle 3 wolf moon 
		chambray knausgaard thundercats. Kitsch messenger bag portland salvia offal blue bottle banjo DIY lyft meggings. Jianbing aesthetic mumblecore shaman. Shaman thundercats quinoa, PBR&B twee deep v 
		brooklyn copper mug. Organic kinfolk master cleanse, sartorial pabst retro unicorn microdosing cardigan. Paleo humblebrag authentic, squid keytar sartorial shaman meditation kitsch marfa irony. 
		Readymade before they sold out yuccie live-edge mlkshk +1 master cleanse mustache drinking vinegar slow-carb enamel pin brunch post-ironic pickled. Viral slow-carb butcher photo booth pop-up shoreditch.</p>
	</main>
</body>

<script type="text/javascript">
    
	
    
</script>
</html>