<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<br />
		<form action="/property-details">
			Search: <input type="text" id="search-input" name="address"/>
			<input type="submit" value="Search">
		</form>
	</main>
</body>

<script type="text/javascript">
    
	
    
</script>
</html>