<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/master.css">
</head>
<body>
	<div id="header">
		<div id="logo">
			<h1>IPF</h1>
		</div>
	</div>
	<br />
    Search: <input type="text" id="search-input" />
	<input type="button" onclick="submitSearch(); return false;">
</body>

<script type="text/javascript">
    
	/*
    function getPropertyResults() {
        var pin = document.getElementById('pin-input').value;
        if (pin && pin.length) {
            var xhr = new XMLHttpRequest();
            var params = 'pin=' + pin;
            xhr.open('GET', 'property-results?' + params, true);

            xhr.onreadystatechange = function() {
                if (this.readyState == XMLHttpRequest.DONE) {
                    if (this.status == 200) {
                        populateResults(JSON.parse(this.responseText));
                    }
                    else {
                        console.log(this.response);
                    }  
                }
            }
            xhr.send();
        }
    }
	*/
    
</script>
</html>